.noticia__lista {
    padding: 0 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;

    h3 {
        text-decoration: underline; 
        padding: 0px 0 10px 0;
        font-size: 28px;
    }

    p {
        padding: 0px 0 15px 0;
    }
}