.header {
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding: 1rem 0;

    h2 {
        font-size: 25px;
        font-weight: normal;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #333;
        }

    }
}

